@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<h1>Course Name : @ViewBag.Name</h1>
<h2>Course Teacher: @ViewBag.CTeacher</h2>
<h3>Students</h3>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Cgpa</th>
    </tr>
    @foreach (var item in ViewBag.Students) { 
        <tr>
            <td><a href="/home/details/@item.Id">@item.Name</a></td>
            <td>@item.Id</td>
            <td>@item.Cgpa</td>
        </tr>
    }
</table>