
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_OutlerLayout.cshtml";
}
<h2>Login</h2>

@if (ViewBag.Msg != null) { 
    <span class="alert alert-danger">@ViewBag.Msg</span><br />
}
<p></p>
@Html.ValidationSummary()

<form action="" method="post">
    <input type="text" class="form-control" name="Uname" value="@Model.Uname" placeholder="Username" />
    <span class="text-danger">@Html.ValidationMessage("Uname")</span>
    <input type="password" class="form-control" name="Pass" value="@Model.Pass" placeholder="Password" />
    <span class="text-danger">@Html.ValidationMessage("Pass")</span>
    <br /><input type="submit" class="btn btn-success"  value="Login" />

</form>

