@model IEnumerable<PMSDemo.DTOs.OrderProductDTO>

@{
    ViewBag.Title = "Od";
}

<h2>Od</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>



@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        
    </tr>
}
<tr>
    <td><a href="/admin/decline/@Model.First().OId" class="btn btn-danger">Decline</a></td>
    <td><a href="/admin/accept/@Model.First().OId" class="btn btn-success">Accept</a></td>
</tr>
</table>
