@model IEnumerable<PMSDemo.DTOs.OrderDTO>

@{
    ViewBag.Title = "Orders";
}

@if (TempData["Msg"] != null)
{
    <span>@TempData["Msg"]</span>
}

<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        <th>Id</th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/admin/od/@item.Id">@item.Id</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            @if (item.Status.Equals("Ordered")) { 
                <td>
                    <a href="" class="btn btn-success">Accept</a>
                    <a href="/admin/decline" class="btn btn-danger">Decline</a>
                </td>
            }
        </tr>
    }

</table>
