@model IEnumerable<PMSDemo.DTOs.ProductDTO>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            Unit Total
        </th>
        
       
    </tr>
    @{ 
        decimal total = 0;
    }
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @{ 
                
                total += item.Price * item.Qty;

            }
            @item.Qty x @item.Price = @(item.Price * item.Qty)
        </td>
       
    </tr>
}

<tr>
    <td></td>
    <td></td>
    <th>Grand Total</th>
    <td>@total</td>
</tr>
</table>
<form action="/Order/PlaceOrder" method="post">
    <input type="hidden" name="Total" value="@total" />
    <input type="submit" value="Place Order" class="btn btn-success" />
</form>
