@model IEnumerable<PMSDemo.DTOs.ProductDTO>

@{
    ViewBag.Title = "Index";
}

<br />
@if (TempData["Msg"] != null)
{
    <span class="alert alert-info">@TempData["Msg"]</span>
}
<br />
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>

            <td>
                <a href="/Order/AddtoCart/@item.Id" class="btn btn-primary">Add to Cart</a>
            </td>
        </tr>
    }

</table>
