<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <a class="btn btn-primary" href="/dashboard/index">Dashboard</a>
        <a class="btn btn-success" href="/dashboard/students">Students</a>
        <a class="btn btn-danger" href="/dashboard/departments">Departments</a>
        <a class="btn btn-warning" href="">Log out</a>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
