<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <a class="btn btn-primary" href="/">Home</a>
        <a class="btn btn-success" href="/home/about">About</a>
        <a class="btn btn-danger" href="/home/login">Login</a>
        <a class="btn btn-warning" href="/home/signup">Sign Up</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        Copyright @@.Net 2024 Summer
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
