
@{
    ViewBag.Title = "Comments";
}
<div class="row">
    <div class="col-md-7">
        <h1>@Model.Title</h1>
        <h3>@ViewBag.Likes Likes</h3>
        <h4>@ViewBag.TagCount Tags</h4>
        <h2>Posted On: @Model.PostTime</h2>

        @if (Model.Comments.Count > 0)
        {
            <h5>Comments</h5>
            <ul>
                @foreach (var item in Model.Comments)
                {
                    <li>@item.Comments</li>
                }
            </ul>

        }
        else
        {
            <h5>No Comments</h5>
        }
    </div>
    <div class="col-md-5">
        <h4 class="alert alert-info">Tags</h4>
        <form method="post" action="/dashboard/attachtags">
            <input type="hidden" name="postId" value="@Model.Id" />
            @foreach (var item in ViewBag.Tags) { 
                <input  type="checkbox" name="tagId[]" value="@item.Id"/>@item.Name <br />
            }
            <input type="submit" value="Update Tags" class="btn btn-success" />
        </form>
    </div>
</div>

